<header class="header">
    <section class="logo">
        <a href="/{{page.lang}}" class="logo__link">
            {% if site.logo_img != nil %}
                <h1 style="display: none;">{{ site.title }}</h1>
                <img class="logo__link__img" src="{{site.logo_img}}" />
            {% else %}
                <h1>{{ site.title }}</h1>
            {% endif %}
        </a>
    </section>
    <button id="menuToggle">
        <div></div>
        <div></div>
        <div></div>
    </button>
    <div class="languages">
        <a id="fr" href="javascript:void(0)" class="fr"><img src="/assets/img/lang/fr.svg"/></a>
        <a id="en" href="javascript:void(0)" class="en"><img src="/assets/img/lang/gb.svg"/></a>
        <a id="it" href="javascript:void(0)" class="it"><img src="/assets/img/lang/it.svg"/></a>
        <a id="de" href="javascript:void(0)" class="de"><img src="/assets/img/lang/de.svg"/></a>
    </div>
    <nav class="menu">
        {% include nav.html nav=site.data.nav %}
    </nav>
</header>
