{% assign lang = page.lang %}
{% if lang == nil %}
{% assign lang = 'fr' %}
{% endif %}
{% if include.embedded != nil %}
<ul class="list">
    {% else %}
    <ul class="list primary">
        {% endif %}
        {% for item in include.nav %}
        <li class="item">

            <div class="item-controls">
                {% if item.externalUrl != nil %}
                <a href="{{ item.externalUrl }}" target="_blank">
                    {% else %}

                    <a href="{{ site.url }}/{{lang}}/{{ item.url }}">
                        {% endif%}
                        {% if item.icon != nil %}
                        <img src="{{ site.url }}/{{ item.icon }}"/>
                        {% endif %}
                        {% assign translated = (item.translations | where: "lang": page.lang | first).value %}
                        {% if translated != nil %}
                        {% assign title = translated %}
                        {% else %}
                        {% assign title = item.title %}
                        {% endif %}
                        {% if item.hue != nil %}
                        <p style="color: {{ item.hue }}">{{ title }}</p>
                        {% else %}
                        <p>{{ title }}</p>
                        {% endif%}
                    </a>

                    {% if item.subnav %}
                    <a class="button-submenu" href="#"><i class="arrow"></i></a>
            </div>
            {% include nav.html nav=item.subnav embedded=true %}
            {% else %}
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</ul>
